
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff;
}

h2 {
    margin-top: 40px;
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--glowny-kolor-tla);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--jasniejszy-kolor-tla);
}

#result, #historyResult {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
}

canvas {
    margin-top: 20px;
}
